.idea/
*.pt
/train_samples_0to9/
/train_samples/
/discriminator.pth
/generator.pth
/mnist_cnn.pt
/gan/discriminator.pth
/gan/generator.pth
/samples/
*.png
/transformer_model.pth
/data/MNIST/raw/
/data/*
.idea/*
/test_image_1.png
/test_image_2.png
/training_loss.png
